@font-face {
    font-family: Lato; /* Гарнитура шрифта */
    src: url(../fonts/Lato/Lato.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: OpenSans; /* Гарнитура шрифта */
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf); /* Путь к файлу со шрифтом */
}

/* Подключаем переменные*/

@import "blocks/_values.scss";
/* ** * ** */


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Lato', Arial, sans-serif;
}
  

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #4d4d4d;
    text-transform: uppercase;
    margin-bottom: 30px;
}

h4 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222222;
}


h5 {
    font-size: 13px;
    text-transform: uppercase;
    color: #222222;
}



.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1140px;
    margin: 0 auto;
    /*outline: paleturquoise solid 1px;*/
}


.shadow:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    transition: 0.5s;
}

.button {
    background-color: transparent;
    cursor: pointer;
}

/* Кнопочки при наведении активации*/

.button:hover {
    background-color: #eeeeee;
    transition: 0.5s;
}

.button:active {
    background-color: $magenta_color;
} 

.menu-link {
    transition: 0.5s;
}

.menu-link:hover {
    color: #ccc;
}




/* подключаем доп стили страниц */

@import "blocks/_single-page.scss";
@import "blocks/_product.scss";
@import "blocks/_shopping-cart.scss";
@import "blocks/_checkout.scss";
@import "blocks/_menu.scss";

/*******/

/* **  ** */

.header {
    border-bottom: 1px solid #ececec;
}


.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}



/* Логотип компании*/
.header-logo {
    margin: 20px 37px 12px 13px;
}

.logo {   
    font-size: 27px;
    font-weight: 300;
    letter-spacing: 0.68px;
    color: #222222;
    display: flex;
    align-items: center;
    text-decoration: none; 
}

.logo img {
 margin-right: 13px;
}

.logo span {
    font-weight: 900;
    color: $magenta_color;
}
/* *************** */


.search {
    flex-grow: 1;
    /*margin-left: 40px;*/
    display: flex;
}

.browse_button-block {
    position: relative;
}

.browse_button {
    padding: 11px 9px 12px 15px;
    border: solid 1px #e6e6e6;
    background-image: linear-gradient(to top, #f9f9f9, #f5f5f5);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    color: #222222;
    text-decoration: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.menu-drop-down {
    width: 262px;
    height: 530px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: #ffffff;
    list-style: none;
    position: absolute;
    z-index: 100;
    opacity: 0;

    transition: 0.5s;
    transform: scale(0, 0);
    transform-origin: left top;
}

.browse_button-block:hover .menu-drop-down {
    
    opacity: 1;
    transform: scale(1, 1);
}


.menu-drop-down > li { 
    margin-left: 15px;
    margin-top: 15px;
}


.menu-drop-down-header {
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: 700;
    color: #232323;
    text-transform: uppercase;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid #e8e8e8;
}



.menu-drop-down-sub {
    list-style: none; 
    margin-left: 5px;
}

.menu-drop-down-sub > li {
    margin-top: 2px;
    margin-bottom: 2px;
}

.menu-drop-down-link {
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.35px;
    color: #4f4f4f;
    text-decoration: none;
}


.browse-input {
    width: 317px;
    padding: 12px 11px 12px 16px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    margin-left: -1px;
    margin-right: -1px;
}

.search_button {
    font-size: 14px;
    color: #a4a4a4;
    padding: 12px 12px 11px 12px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    cursor: pointer;
}


.login {
    display: flex;
    align-items: center;
}


.cart-button-block {
    position: relative;
}


.basket img {
    width: 32px;
    height: 29px;
}

.cart-button-block:hover .cart-button-menu-block {
    opacity: 1;
    transform: scale(1, 1);
}

.cart-button-menu-block {
    width: 262px;
    height: 440px;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: -10px;
    z-index: 100;

    opacity: 0;
    transform: scale(0, 0);
    transform-origin: left top;
    transition: 0.5s;

}

.cart-button-menu {
    padding: 0px 20px 0px 20px;
}

.cart-button-menu-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 15px 0px;
    border-bottom:  1px solid #ededed;
}

.cart-button-menu-block-text > p {
    margin-bottom: 10px;
    margin-top: 10px;
} 

.cart-button-menu-block-header {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #222222;
}

.stars {
    font-family: FontAwesome;
    font-size: 12px;
    color: #e4af48;
}

.cart-button-menu-block-price {
    font-size: 12px;
    color: #f16d7f;
}


.cart-button-menu-button-cancel {
    background-color: transparent;
    border: none;
    font-family: FontAwesome;
    font-size: 16px;
    color: #c0c0c0;
    cursor: pointer;
}


.cart-button-menu-price {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.cart-button-menu-price > p {
    font-size: 16px;
    font-weight: bold;
    color: #222222;
    margin-top: 15px;
    margin-bottom: 30px;
}

.cart-button-menu-checkout {
    width: 225px;
    height: 50px;
    border: solid 1px #f16d7f;
    margin-top: 10px;
    padding: 15px 73px 15px 72px;
  
    text-transform: uppercase;
    background-color: transparent;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    font-weight: bold;
    color: #f16d7f;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
}

.go-to-cart {
    color: #4a4a4a;
    padding: 15px 69px 15px 69px;
}




.account_button {
    font-size: 15px;
    letter-spacing: 0.38px;
    text-decoration: none;
    color: #ffffff;
    margin: 6px 0 7px 23px;
    padding: 13px 12px 11px 19px;
    background-color: $magenta_color;
    border: none;
}



.promo {
    background-color: #e8e8e8;
}


.main-slider {
    background-image: url(../img/Layer_24.png);
    background-repeat: no-repeat;
    background-position: 30%;
    height: 665px;
    display: flex;
    align-items: center;
}


.main-slider-content {
    /*outline: turquoise solid 1px;*/
    position: relative;
}

.main-slider-text {
    /*font-family: Lato;*/
    font-weight: 900;
    color: #222222;
    margin-left: 24px;
}

.main-slider-text:before {
    content: " ";
    position: absolute;
    left: 0px;
    top: 13%;
    height: 80%;
    width: 12px;
    background-color: $magenta_color;
}



.main-slider-text-header {
    font-size: 60px;
    letter-spacing: 1.5px;
}

.main-slider-text-line {
    font-size: 40px;
    letter-spacing: 1px;
}

.main-slider-text-line > span {
    color: $magenta_color;
}


section {
    outline: none;
    border: none;
}

.new-section {
    margin-top: 98px;
}

.section {
    margin-top: 71px;
}

.in-trend {
    /*height: 823px;*/
    display: flex;
    justify-content: space-between;
}

.in-trend-block {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 823px;
}

.in-trend-block-image {
    position: relative;
    line-height: 0;
}

.in-trend-block-image > img {
    width: 100%;
}

.in-trend-block-text {
    position: absolute;
    top: 26px;
    padding: 16px 20px 16px 19px;
    background-color: #ffffff;
    text-transform: uppercase;
    line-height: initial;
}

.in-trend-block-text-name {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.45px;
    color: #222222;
}

.in-trend-block-text-for {
    font-size: 30px;
    letter-spacing: 0.75px;
    color: $magenta_color;
}




.container-items {
    text-align: center;
    /*height: 1000px;*/
}

.header-h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.75px;
    color: #222222;
}

.fetured-items-text {
    margin-top: -5px;
    font-size: 14px;
    letter-spacing: 0.35px;
    color: #9f9f9f;
    margin-bottom: 20px;
}

.items-arr {
   /*display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    grid-column-gap: 25px;
    /*grid-row-gap: 20px;*/
    justify-items: center; 
  
    /* Пример
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 1em;*/
}

.items {
    width: 263px;
    height: 364px;
    text-decoration: none;
    margin-top: 35px;
    position: relative;

}

.items > img {
    width: 100%;
}


.items-overlay {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 82px;
    background-color: rgba(58, 56, 56, 0.83);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    
}

.items-button-cart {
    width: 123px;
    height: 39px;
    padding: 10px 13px 7px 12px;
    border: solid 1px #ffffff;
    background-color: transparent;
    
    font-family: Lato;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}


.items-button-cart-img {
    width: 23px;
    height: 22px;
    margin-right: 8px;
}


.items:hover .items-overlay {

    transition: 0.5s;
    opacity: 1;

}







.items-name {
    margin: 12px 0px 1px 14px;
    font-weight: bold; 
    text-align: left;
    color: #222222;
    text-transform: uppercase;
}

.items-price {
    margin: 12px 0px 1px 14px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: $magenta_color;
}


.button-pink {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2.4px;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 19px 15px 24px;
    background-color: $magenta_color;
    display: inline-block;
    margin-top: 60px;
    transition: 0.5s;

}

.button-pink:hover {
    background-color: #656d7f;   
    
}


.sale {
    display: flex;
    background-color: #222224;
}

.sale-img {
    width: 767px;
    height: 529px;
    background-image: url(../img/Layer_38.png);

}

.sale-img-text-block {
    font-weight: bold;
    color: #ffffff;
    margin: 146px 0px 0px 39px;
}

.sale-img-proc {
    font-size: 53.5px;
    letter-spacing: 1.34px;
}

.sale-img-proc > span {
    font-size: 53.5px;
    color: $magenta_color;
}

.sale-img-for {
    font-size: 32px;
    letter-spacing: 0.8px;
}

.sale-right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sale-tagline {
    width: 373px;
    display: flex;
    justify-content: space-around;
}



.sale-tagline-img {
    margin-left: 10px;
}

.sale-tagline-text {
    width: 219px;
    text-align: left;
}


.sale-tagline-text-header {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #fbfbfb;
    margin-bottom: 10px;
}

.sale-tagline-text-desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    color: #fbfbfb;
}

.subscription {
    min-height: 438px;
   /* background-image: url(../img/Layer_41.png);
    background-repeat: no-repeat;
    background-size: cover;*/
    background: linear-gradient(45deg, rgba(211,211, 211, 0.5), rgba(211, 211, 211, 0.5)), 
    url(../img/Layer_41.png) 50% 50% no-repeat;
    background-size: cover;
}

.subscription-content {
    min-height: 438px;
    display: flex;
    /*margin-top: 20px;*/
    margin-bottom: 20px;
} 

.subscription-content-block {
    width:50%;
    min-height: 438px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    

}

.subscription-content-block > div {
    display: flex;
}


.subscription-content-block-vert-line {
    width: 1px;
    border-left: 2px solid #e3e3e3;
    align-self: stretch;
}


.subscription-tagline {
    margin-left: 30px;

}

.subscription-text {
    width: 386px;
    font-size: 16px;
   
    font-style: italic;
    line-height: 1.63;
    letter-spacing: 0.4px;
    text-align: left;
    color: #222224;
}

.subscription-sign {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.63;
    text-align: left;
    color: $magenta_color;
    margin-top: 9px;
}

.subscription-sign-prof {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.17;
    letter-spacing: 0.3px;
 }

.subscription-slider {
    margin-top: 41px;
    
}

.subscription-slider-items {
    display: inline-block;
    list-style: none;
}


 .subscription-slider-link {
    display: inline-block;
    width: 38px;
    height: 4px;
    margin: 0px 7px 0px 6px;
    background-color: #d6d6d6;
}


.subscription-slider-link-active {
    background-color: $magenta_color;
}


.subscription-form {
    display: flex;
    justify-content: center;
    text-align: center;
}

.subscription-form-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.35px;
    text-align: center;
    font-weight: bold;
    color: #222224;
    text-transform: uppercase;
    margin-top: -12px;
    margin-bottom: 30px;
}

.subscription-form-header {
    font-size: 24px;
    line-height: 2.25;
    letter-spacing: 0.6px;
    font-weight: bold;
    text-transform: uppercase;
}

.subscription-form-input {
    display: flex;

}


.subscription-input {
    width: 334px;
    height: 46px;
    border: none;
    outline: none;
    padding: 15px 28px 15px 28px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    background-color: #e1e1e1;
    font-size: 14px;
    letter-spacing: 0.35px;
    color: rgba(34, 34, 36, 0.67);
}

.subscription_button {
    width: 104px;
    padding: 13px 0px 13px 0px;
    background-color: $magenta_color; 
    text-decoration: none;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    font-size: 14px;
    letter-spacing: 0.35px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s;
}


.subscription_button:hover {
    background-color: #656d7f;   
    
}


.footer-menu {
    display: flex;
    
}

.footer-left-block {
    width: 427px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.35px;
    text-align: left;
    color: #898989;
}

.footer-left-block > p {
    margin-top: 25px;
}








.footer-menu-block {
    width: 713px;
    margin-left: 64px;
}

.footer-menu-block > ul{
    list-style: none;
    /*width: 100%;*/
    display: flex;
    justify-content: space-around;
}



.footer-menu-link > ul {
    margin-top: 35px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 215px; 
}

.footer-menu-link-header {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.45px;
    color: $magenta_color;
    text-decoration: none;

}


.footer-menu-link-nested {
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: normal;
    color: #898989;
    text-decoration: none;
}

.footer-bottom {
    /*height: 79px;*/
    margin: 89px 0px 0 0;
    background-color: #e6e6e6;
}


.footer-bottom-container {
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-bottom-copy-right {
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #7a7a7a;
}

.footer-social {
    display: flex;
}

.social-ico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin: 0 8px 0 0px;
    background-color: #ffffff;
    
}

.social-ico-link {
    text-decoration: none;
    font-size: 16px;
    color: #b2b2b2;
    transition: 0.5s;
}

.social-ico-link:hover {
    background-color: $magenta_color;
    color: #ffffff;
} 




/* */