/* ****** */

.slider-single-page {
    height: 777px;
    border: solid 1px #eaeaea;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.slider-arrow-button {
    width: 47px;
    height: 47px;
    font-family: FontAwesome;
    font-size: 24px;
    color: #ffffff;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}


.product_description {
    height: 730px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
    margin-top: -70px;
    display: flex;
    justify-content: center;
    
}

.product_description-container {
    width: 642px;
    text-align: center;
    background-color: #ffffff;
}

.product_description-h4 {
    font-size: 14px;
    font-weight: bold;
    color: #f16d7f;
    display: inline-block;
    border-bottom: solid 2px #eaeaea;
    padding-bottom: 6px;
    position: relative;
    margin-top: 70px;
    background-color: inherit;
}


.product_description-h4::after {
    top: 22px;
    left: 30%;
    position: absolute;
    content: "";
    width: 40%;
    height: 3px;
    background-color: #ef5b70;
    display: block;
    
}

.product_description-h2 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    color: #4d4d4d;
    text-transform: uppercase;
}

.product_description-text {
    margin-top: 60px;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #5e5e5e;
}

.product_description-mat-dis {
    font-size: 14px;
    font-weight: bold;
    color: #b9b9b9;
    display: inline-block;
    margin: 25px 20px 0px 20px;

}

.product_description-mat-dis >span {
    color: #2f2f2f;
}

.product_description-price {
  margin: 37px 0px 0px 0px;
  font-size: 24px;
  font-weight: bold;
  color: #ef5b70;
}

.product_description-price::after {
    content: "";
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
    height: 2px;
    background-color: #eaeaea;
    display: block;
}


.product_description-selector {
    display: flex;
    justify-content: space-around;
}

.product_description-selector-select {
    text-align: left;
}


.product_description-selector-select > label {
  font-size: 14px;
  font-weight: bold;
  color: #2f2f2f;
}

.product_description-selector-select > select {
    margin-top: 10px;
    width: 144px;
    height: 35px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
    font-family: Lato;
    font-size: 13px;
    padding-left: 15px;
    color: #bcbcbc;
}

.product_description-selector-select > select > option {
    color: black;
}

.add-to-cart-button-div {
    display: flex;
    justify-content: center;
}


.add-to-cart {
    width: 537px;
    height: 55px;
    border: solid 1px #ef5b70;
   /* background-color: #ffffff;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    color: #ef5b70;
    margin-top: 28px;
}

.add-to-cart > img {
    width: 26px;
    height: 24px;
    margin-right: 15px;
}

/***** */