/* ****** */

.slider-single-page {
    height: 777px;
    border: solid 1px #eaeaea;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.slider-arrow-button {
    width: 47px;
    height: 47px;
    font-family: FontAwesome;
    font-size: 24px;
    color: #ffffff;
    background-color: #ccc;
    border: none;

}





/***** */