@font-face {
    font-family: Lato; /* Гарнитура шрифта */
    src: url(../fonts/Lato/Lato.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: OpenSans; /* Гарнитура шрифта */
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf); /* Путь к файлу со шрифтом */
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Lato', Arial, sans-serif;
}
  

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #4d4d4d;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1140px;
    margin: 0 auto;
    /*outline: paleturquoise solid 1px;*/
}


.shadow:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.button {
    background-color: transparent;
    cursor: pointer;
}

/* Кнопочки при наведении активации*/

.button:hover {
    background-color: #eeeeee;
}

.button:active {
    background-color: #f16d7f;
} 

.menu-link:hover {
    color: #ccc;
}

/* **  ** */

.header {
    border-bottom: 1px solid #ececec;
}


.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}



/* Логотип компании*/
.header-logo {
    margin: 20px 37px 12px 13px;
}

.logo {   
    font-size: 27px;
    font-weight: 300;
    letter-spacing: 0.68px;
    color: #222222;
    display: flex;
    align-items: center;
    text-decoration: none; 
}

.logo img {
 margin-right: 13px;
}

.logo span {
    font-weight: 900;
    color: #f16d7f;
}
/* *************** */


.search {
    flex-grow: 1;
    /*margin-left: 40px;*/
    display: flex;
}

.browse_button {
    padding: 11px 9px 12px 15px;
    border: solid 1px #e6e6e6;
    background-image: linear-gradient(to top, #f9f9f9, #f5f5f5);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    color: #222222;
    text-decoration: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}


.browse-input {
    width: 317px;
    padding: 12px 11px 12px 16px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    margin-left: -1px;
    margin-right: -1px;
}

.search_button {
    font-size: 14px;
    color: #a4a4a4;
    padding: 12px 12px 11px 12px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    cursor: pointer;
}


.login {
    display: flex;
    align-items: center;
}

.basket {
    /*display: inline-block; */
}

.basket img {
    width: 32px;
    height: 29px;
}


.account_button {
    font-size: 15px;
    letter-spacing: 0.38px;
    text-decoration: none;
    color: #ffffff;
    margin: 6px 0 7px 23px;
    padding: 13px 12px 11px 19px;
    background-color: #f16d7f;
    border: none;
}

/*
.account_button:hover {
    background-color: #656d7f;   
}
*/

.main-menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 51px;
    background-color: #ffffff;
   /* outline: tan solid 1px;*/
}

.main-menu {
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.main-menu > li  {
    list-style: none;
}


.main-menu-link {
    /*font-family: Lato;*/
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #222222;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px;
}




.main-menu-link-active {
    border-bottom: 3px solid #ef5b70;
}


.main-menu-link:hover {
    color: #ccc;
    border-bottom: 3px solid #ccc;
}


.promo {
    background-color: #e8e8e8;
}


.main-slider {
    background-image: url(../img/Layer_24.png);
    background-repeat: no-repeat;
    background-position: 30%;
    height: 665px;
    display: flex;
    align-items: center;
}


.main-slider-content {
    /*outline: turquoise solid 1px;*/
    position: relative;
}

.main-slider-text {
    /*font-family: Lato;*/
    font-weight: 900;
    color: #222222;
    margin-left: 24px;
}

.main-slider-text:before {
    content: " ";
    position: absolute;
    left: 0px;
    top: 13%;
    height: 80%;
    width: 12px;
    background-color: #f16d7f;
}



.main-slider-text-header {
    font-size: 60px;
    letter-spacing: 1.5px;
}

.main-slider-text-line {
    font-size: 40px;
    letter-spacing: 1px;
}

.main-slider-text-line > span {
    color: #f16d7f;
}


section {
    outline: none;
    border: none;
}

.new-section {
    margin-top: 98px;
}

.section {
    margin-top: 71px;
}

.in-trend {
    /*height: 823px;*/
    display: flex;
    justify-content: space-between;
}

.in-trend-block {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 823px;
}

.in-trend-block-image {
    position: relative;
    line-height: 0;
}

.in-trend-block-image > img {
    width: 100%;
}

.in-trend-block-text {
    position: absolute;
    top: 26px;
    padding: 16px 20px 16px 19px;
    background-color: #ffffff;
    text-transform: uppercase;
    line-height: initial;
}

.in-trend-block-text-name {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.45px;
    color: #222222;
}

.in-trend-block-text-for {
    font-size: 30px;
    letter-spacing: 0.75px;
    color: #f16d7f;
}




.container-items {
    text-align: center;
    /*height: 1000px;*/
}

.header-h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.75px;
    color: #222222;
}

.fetured-items-text {
    margin-top: -5px;
    font-size: 14px;
    letter-spacing: 0.35px;
    color: #9f9f9f;
    margin-bottom: 20px;
}

.items-arr {
   /*display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    grid-column-gap: 25px;
    /*grid-row-gap: 20px;*/
    justify-items: center; 
  
    /* Пример
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 1em;*/
}

.items {
    width: 263px;
    height: 364px;
    text-decoration: none;
    margin-top: 35px;
}

.items img {
    width: 100%;
    /*height: 100%;*/
}


.items-name {
    margin: 12px 0px 1px 14px;
    font-weight: bold; 
    text-align: left;
    color: #222222;
    text-transform: uppercase;
}

.items-price {
    margin: 12px 0px 1px 14px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #f16d7f;
}


.button-pink {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2.4px;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 19px 15px 24px;
    background-color: #f16d7f;
    display: inline-block;
}

.button-pink:hover {
    background-color: #656d7f;   
}


.sale {
    display: flex;
    background-color: #222224;
}

.sale-img {
    width: 767px;
    height: 529px;
    background-image: url(../img/Layer_38.png);

}

.sale-img-text-block {
    font-weight: bold;
    color: #ffffff;
    margin: 146px 0px 0px 39px;
}

.sale-img-proc {
    font-size: 53.5px;
    letter-spacing: 1.34px;
}

.sale-img-proc > span {
    font-size: 53.5px;
    color: #f16d7f;
}

.sale-img-for {
    font-size: 32px;
    letter-spacing: 0.8px;
}

.sale-right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sale-tagline {
    width: 373px;
    display: flex;
    justify-content: space-around;
}



.sale-tagline-img {
    margin-left: 10px;
}

.sale-tagline-text {
    width: 219px;
    text-align: left;
}


.sale-tagline-text-header {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #fbfbfb;
    margin-bottom: 10px;
}

.sale-tagline-text-desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    color: #fbfbfb;
}

.subscription {
    min-height: 438px;
   /* background-image: url(../img/Layer_41.png);
    background-repeat: no-repeat;
    background-size: cover;*/
    background: linear-gradient(45deg, rgba(211,211, 211, 0.5), rgba(211, 211, 211, 0.5)), 
    url(../img/Layer_41.png) 50% 50% no-repeat;
    background-size: cover;
}

.subscription-content {
    min-height: 438px;
    display: flex;
    /*margin-top: 20px;*/
    margin-bottom: 20px;
} 

.subscription-content-block {
    width:50%;
    min-height: 438px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subscription-avatar {
    /*align-self: start;*/

}


.subscription-tagline {
    margin-left: 30px;

}

.subscription-text {
    width: 386px;
    font-size: 16px;
   
    font-style: italic;
    line-height: 1.63;
    letter-spacing: 0.4px;
    text-align: left;
    color: #222224;
}

.subscription-sign {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.63;
    text-align: left;
    color: #f16d7f;
    margin-top: 9px;
}

.subscription-sign-prof {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.17;
    letter-spacing: 0.3px;
 }

.subscription-slider {
    margin-top: 41px;
    
}

.subscription-slider-items {
    display: inline-block;
    list-style: none;
}


 .subscription-slider-link {
    display: inline-block;
    width: 38px;
    height: 4px;
    margin: 0px 7px 0px 6px;
    background-color: #d6d6d6;
}

/*
.subscription-slider-link:hover {
    background-color: #f16d7f;
}
*/

.subscription-slider-link-active {
    background-color: #f16d7f;
}


.subscription-form {
    display: flex;
    justify-content: center;
    text-align: center;
}

.subscription-form-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.35px;
    text-align: center;
    font-weight: bold;
    color: #222224;
    text-transform: uppercase;
    margin-top: -12px;
    margin-bottom: 30px;
}

.subscription-form-header {
    font-size: 24px;
    line-height: 2.25;
    letter-spacing: 0.6px;
    font-weight: bold;
    text-transform: uppercase;
}

.subscription-form-input {
    display: flex;

}


.subscription-input {
    width: 334px;
    height: 46px;
    border: none;
    outline: none;
    padding: 15px 28px 15px 28px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    background-color: #e1e1e1;
    font-size: 14px;
    letter-spacing: 0.35px;
    color: rgba(34, 34, 36, 0.67);
}

.subscription_button {
    width: 104px;
    padding: 13px 0px 13px 0px;
    background-color: #f16d7f; 
    text-decoration: none;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    font-size: 14px;
    letter-spacing: 0.35px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline: none;
}


.subscription_button:hover {
    background-color: #656d7f;   
}


.footer-menu {
    display: flex;
    
}

.footer-left-block {
    width: 427px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.35px;
    text-align: left;
    color: #898989;
}

.footer-left-block > p {
    margin-top: 25px;
}








.footer-menu-block {
    width: 713px;
    margin-left: 64px;
}

.footer-menu-block > ul{
    list-style: none;
    /*width: 100%;*/
    display: flex;
    justify-content: space-around;
}

.footer-menu-link {
    
    /*text-align: center;*/
}

.footer-menu-link > ul {
    margin-top: 35px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 215px; 
}

.footer-menu-link-header {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.45px;
    color: #f16d7f;
    text-decoration: none;

}


.footer-menu-link-nested {
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: normal;
    color: #898989;
    text-decoration: none;
}

.footer-bottom {
    /*height: 79px;*/
    margin: 89px 0px 0 0;
    background-color: #e6e6e6;
}


.footer-bottom-container {
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-bottom-copy-right {
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #7a7a7a;
}

.footer-social {

    display: flex;
}

.social-ico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin: 0 8px 0 0px;
    background-color: #ffffff;
}

.social-ico-link {
    text-decoration: none;
    font-size: 16px;
    color: #b2b2b2;
}

.social-ico-link:hover {
    background-color: #f16d7f;
    color: #ffffff;
} 




/* */


/****/

.breadcrumbs {
    background-color: #f8f3f4;
}

.breadcrumbs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
}

.breadcrumbs-page-name {
    font-size: 24px;
    font-weight: bold;
    color: #f16d7f;
    text-transform: uppercase;
}

.breadcrumbs-ul > li {
    display: inline-block;
}

.breadcrumbs-ul > li:nth-child(n+2)::before {
    content: " / ";
}

.breadcrumbs-ul li {
    list-style: none;
    font-size: 14px;
    color: #636363;
    text-transform: uppercase;
}

.breadcrumbs-ul li:last-child {
    font-weight: bold;
    color: #f16d7f;
}

.breadcrumbs-link {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    text-transform: inherit;
    font-weight: inherit;
}


.product {
    display: flex;
}

.aside {
    width: 320px;
    /*outline: #c4c4c4 solid 1px;*/
}

.aside-menu {
    outline: none;
    margin-bottom: 25px;
}

.aside-menu-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #ef5b70;
    cursor: pointer;
    outline: none;
    
    border-left: 5px solid #ef5b70;
    border-bottom: 1px solid  #ebebeb;
   
    padding: 10px 6px 10px 11px;
    display: flex;
    justify-content: space-between;
}

.aside-menu[open] .aside-menu-title::after {
    content: "\f0d8";
    font-family: FontAwesome;
    color: #ef5b70;
}

.aside-menu-title::after {
    content: "\f0d7"; 
    font-family: FontAwesome;
    color: #6f6e6e;
}

.aside-menu-title::-webkit-details-marker {
    display: none;
}

.aside-menu > ul {
    list-style: none;
}

.aside-menu > ul > li {
    margin-top: 10px;
    margin-left: 15px;
}

.aside-menu-link {
    font-size: 14px;
    color: #6f6e6e;
    text-decoration: none;
}


.option-selected {
    margin-left: 55px;
    width: 100%;
}

.selector {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #6f6e6e;
    width: 100%;
    /*outline: blue solid 2px;*/
}

.selector-header {
    margin-bottom: 10px;
}

.option-selected > ul {
    width: 846px;
    list-style-type: none;
    display: flex; 
    justify-content: space-between; 
}

.selector-trending {
    width: 176px;
}

.selector-trending-button {
    display: flex;
    justify-content: space-between;
}

.selector-trending-button > div:nth-child(n+2)::before {
    content: "|";
    margin-right: 10px;
    color: #dfdfdf;
}


.selector-size {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
}

.selector-size > label {
    font-family: OpenSans;
} 


.trending-now-select {
    font-size: 14px;
    line-height: 1.86;
    color: #6f6e6e;
    border: none;
}


.selector-price-numbers {
    font-size: 14px;
    margin-top: 10px;
    color: #6f6e6e;
    font-family: OpenSans;
}

.selector-price {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-content: space-between;
   height: 50px;
}

.range-filter {
    width: 100%;
}
  
.range-controls {
    position: relative;
    padding-top: 7px;
}
  
.range-controls .scale {
    height: 6px;
    background: #eee;
}
  
.range-controls .bar {
    width: 50%;
    height: 6px;
    background: #f16d7f;
    margin-left: 20%;
}
  
.range-controls .toggle {
    position: absolute;
    top: 3px;
    left: 0;
    width: 14px;
    height: 14px;
    border: none;
    padding: 0;
    background-color: #f16d7f;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 20%;
}
.range-controls .toggle-max {
    left: 65%;
}
  

.sort-block {
    width: 100%;
    height: 50px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-top: 40px;
}

.sort-block-nested {
    display: flex;
    justify-self: start;
    margin-left: 7px;
}


.sort-block-nested-label {
    
    margin: 0px; 
    padding: 5px 9px 6px 13px;
    outline:  #ebebeb solid 1px;
   
    background-color: #ffffff;
    font-size: 14px;
    color: #6f6e6e;

}

.sort-block-sort-by {
    /*width: 86px;*/
    height: 30px;
    margin: 0 10px 0 0;
    outline:  #ebebeb solid 1px;
    border: none;
    background-color: #ffffff;
    font-size: 14px;
    color: #6f6e6e;
    padding: 0px 0px 0px 5px;
}


.product-navigation-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
}

.list-pages-block {
    width: 261px;
    height: 44px;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
}

.list-pages-links {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #c4c4c4;
    border: none;
}

.list-pages-links-active {
    color: #ef5b70;
    
}


.list-pages-links:hover {
    color: #ef5b70;
}

.button-style-transporent {

    font-size: 16px;
    font-weight: bold;
    color: #ef5b70;
    padding: 10px 45px 10px 45px;
    border-radius: 3px;
    border: solid 1px #ef5b70;
    background-color: #ffffff;
    /*border: none;*/
    cursor: pointer;
}



.dignity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 341px;
    text-align: center;

}

.dignity-blocks {
    height: 140px;
    width: 309px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}